---
import Layouts from "../layouts/layouts.astro";
---

<Layouts>
  <div class="flex justify-center">
    <h1 class="text-orange-300 text-4xl">astro layouts</h1>
	<h1 class="text-red-950">hfsdjfjksd</h1>
  </div>
</Layouts>
